<!DOCTYPE html>
<html lang="pt-br">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unread | Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='erro_cadastro.css') }}?v=1.0">
</head>
<body>
    <div class="wrapper">
        <div class="icon">⚠️</div>

        <h1>Opa! Esse e-mail já existe.</h1>
        <p>Parece que você já tem uma conta no Unread.</p>

        <a href="/login" class="btn">Ir para o Login</a>
    </div>
</body>
</html>