<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenMouth Studio - Loading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='splash.css') }}">
<body id="splash-body">

    <div class="splash-container">
        <div class="logo-layout">
            
            <div class="skull-container">
                <img src="{{ url_for('static', filename='img/Cabeça.png') }}" alt="Cabeça" class="skull-head">
                <img src="{{ url_for('static', filename='img/Mandibula.png') }}" alt="Mandíbula" class="skull-jaw">
            </div>

            <div class="text-group">
                <h1 class="openmouth-text">OPENMOUTH</h1>
                <p class="studio-text">STUDIO</p>
            </div>
            
        </div>
    </div>

    <script>
        setTimeout(function() {
            document.getElementById('splash-body').style.opacity = '0';
        }, 4000);

        setTimeout(function() {
            window.location.href = "{{ url_for('login') }}";
        }, 5000);
    </script>
</body>
</html>